/* Place custom css here */
.img-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

figure {
    text-align: center;
    /* Center the figure contents */
}

figcaption {
    font-style: italic;
    /* Example styling for the caption */
    padding-top: 10px;
    /* Space between image and caption */
}

aside {
  background-color: #ecdeb0; /* Light gold background */
  border-left: 4px solid #d59e05; /* Blue left border */
  padding: 10px 15px; /* Padding inside the aside */
  margin: 20px 0; /* Margin outside the aside */
  font-style: italic; /* Italic font style */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1); /* Subtle shadow */
}