/* Place custom css here */
.img-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'IBM Plex sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

figure {
    text-align: center;
    /* Center the figure contents */
}

figcaption {
    font-style: italic;
    /* Example styling for the caption */
    padding-top: 10px;
    /* Space between image and caption */
}

aside {
  background-color: #f5e6b0; /* Light gold background */
  border-left: 4px solid #d59e05; /* Blue left border */
  padding: 10px 15px; /* Padding inside the aside */
  margin: 20px 0; /* Margin outside the aside */
  font-style: normal;
  color: #000000; /* Dark text color */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1); /* Subtle shadow */
  font-family: 'IBM Plex Sans', sans-serif; /* Change font family to a regular font */
  font-weight: 400;
  font-size: 0.92em;
}

html[data-theme="dark"] {
  --bg-color: rgb(40, 40, 40);
  --text-color: #ebdbb2;
  --link-color: #bab373;
  --hover-color: #d3869b;
}

html[data-theme="light"] {
  --bg-color: #fef6d6;
  --text-color: #3c3836;
  --link-color: #6f4830;
  --hover-color: #870a57;
}


html code{
  font-family: 'JetBrains Mono', monospace;
}

html[data-theme="light"] code {
  background-color: rgb(241, 231, 189);
  border-color: rgb(112, 102, 94);
}

html[data-theme="light"] pre {
  background-color: rgb(199, 51, 51);
  color: #ebdbb2;
  border: 1px solid rgb(112, 102, 94);
}


html[data-theme="light"] p code {
  background-color: rgb(241, 231, 189);
}

html[data-theme="dark"] aside {
  background-color: #c9bb8a;
}

html[data-theme="dark"] aside.toc {
  --link-color: rgb(80, 42, 18);
}

.toc p {
  font-size: 1.3em; /* Increase font size for TOC paragraphs */
  line-height: 1em; /* Increase line height for more space between lines */
}

.toc a {
  display: block; /* Ensure each link is on a new line */
  margin-bottom: 0.2em; /* Add space between links */
}

html[data-theme="light"] pre,
html[data-theme="light"] pre *,
html[data-theme="light"] code,
html[data-theme="light"] code * {
  background-color: rgb(241, 231, 189) !important;
  color: #3c3836;
}

html[data-theme="dark"] code * {
  background-color: #323232 !important;
}

html[data-theme="light"] td *,
html[data-theme="light"] td {
  background-color: rgb(246, 235, 195);
  color: #3c3836;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--hover-color);
}

#dark-mode-toggle {
  position: absolute;
  top: 3rem;  /* Aligns with the top of the header */
  right: 1rem;  /* Places it on the right side */
  z-index: 1000;
}

/* Ensure the header has a relative position for proper alignment */
header {
  position: relative;
}

@media (max-width: 768px) {
  #dark-mode-toggle {
    top: 0.5rem;
    right: 0.5rem;
  }
}

.header .flex p.small {
  font-size: 0.95em;
}